@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: #f8f8f8;
}

a {
  color: #f8f8f8;
  text-decoration: none;
}

/* *header (menu e logo) */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
      background-color: #818575;
}

header > a > img {
  width: 10rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  list-style-type: none;
  padding: 0.5rem;
  font-weight: 600;
}

header nav ul li a {
  text-decoration: none;
}
header nav ul .busca {
  padding: 0.5rem;
}

/* *main e section 1 */

main section img {
  width: 25rem;
  border-radius: 2rem;
}

main > section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


main > section > div {
  margin: 0 2rem;
  padding: 1rem;
}
main > section h2 {
  text-align: center;
    color: #818575;

}

footer{
    height: 3vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    font-size: .9rem;
    font-weight: 450;
    font-style: italic;
    background-color: #818575;

}