@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/img/pexels-cottonbro-3584948.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: #f8f8f8;
  text-decoration: none;
}

/* *header (menu e logo) */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

header > a > img {
  width: 10rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  list-style-type: none;
  padding: 0.5rem;
  font-weight: 600;
}

header nav ul li a {
  text-decoration: none;
}
header nav ul .busca {
  padding: 0.5rem;
}

/* * Banner */
div.banner {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.banner h1 {
  color: #f8f8f8;
  font-family: "Times New Roman", Times, serif;
  font-size: 4.5rem;
  font-style: italic;
}

/* *main e section 1 */

main section .texto {
  padding: 7rem 5rem;
}

main section .texto h2 {
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  color: #818575;
}
main section:nth-child(3) .texto h2 {
  color: #f8f8f8;
}

main section:first-child img {
  width: 20rem;
  border-radius: 2rem;
}

main > section:first-child {
  height: 90vh;
  margin-top: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;

  background-color: #818575;
}
main > section:first-child p {
  font-size: 0.9rem;
  font-style: italic;
}
main > section:first-child > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

main > section:first-child > div > div {
  margin: 0 2rem;
}
main > section:first-child > div > div h3 {
  text-align: center;
  font-size: 1.1rem;
}

/* *section 2 */
main > section:nth-child(2) {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  background-color: #f8f8f8;
}
main > section:nth-child(2) img {
  width: 18rem;
  border-radius: 15rem;
}

main > section:nth-child(2) .texto {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section:nth-child(2) .texto p {
  text-align: center;
}
main > section:nth-child(2) .texto a {
  width: 30%;
  text-align: center;
  font-weight: 600;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  background-color: #818575;
}
main > section:nth-child(2) .texto a:hover,
main > section:nth-child(2) .texto a:active {
  transition: 0.5s;
  background-color: #6a6d61;
}

/* *section 3 */
main > section:nth-child(3) {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
  background-color: #818575;
  color: #f8f8f8;
}

main > section:nth-child(3) .texto p {
  text-align: center;
}

/* *section 4 */
main > section:nth-child(4) {
  height: 49vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
/* main > section:nth-child(4) .texto h3 {
  margin-top: 2rem;
  background-color: #6a6d61;
} */

main > section:nth-child(4) .texto {
  padding: 0;
}

footer {
  height: 3vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  font-size: 0.9rem;
  font-weight: 450;
  font-style: italic;
  background-color: #818575;
}
